<%= render partial: 'partials/header' %>

<!DOCTYPE html>
<html>
<head>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</head>
<body>
<h1>Accepted Requests</h1>
<table>
  <tr>
    <th>Userame</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Restaurant Name</th>
    <th>Restaurant Address</th>
  </tr>

  <% @showupdaterequest.each do |showupdaterequest| %>
    <tr>
      <td><%= showupdaterequest.username  %></td>
      <td><%= showupdaterequest.email %></td>
      <td><%= showupdaterequest.contact %></td>
      <td><%= showupdaterequest.r_name %></td>
      <td><%= showupdaterequest.r_address %></td>
    </tr>
  <% end %>
</table>
</body>
</html>