<%= render partial: 'partials/ownerheader' %>

<!DOCTYPE html>
<html>
<head>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</head>
<body>
<h1>Staff Details</h1>
<table>
  <tr>
    <th> Name</th>
    <th>Contact</th>
    <th>Specialization</th>
    <th>Actions</th>
  </tr>

  <% @staff.each do |staff| %>
    <tr>
      <td><%= staff.name  %></td>
      <td><%= staff.contact %></td>
      <td><%= staff.specialization %></td>
      <td><%= button_to 'Delete', delete_staff_path(staff),method: :delete%></td>
    </tr>
  <% end %>
</table>
</body>
</html>