<%= render partial: 'partials/customerheader' %>
<h1>This Is Customer Home Page</h1>
<!DOCTYPE html>
<html>
<head>
  <title>Items</title>
  <style>
    /* Add CSS styles for item display */
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .item {
      width: 30%;
      margin: 10px;
      padding: 10px;
      background-color: #f0f0f0; /* Light gray background */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    }

    h2 {
      color: #333; /* Dark gray text color */
    }

    p {
      color: #666; /* Medium gray text color */
    }

    .price {
      color: #009688; /* Green text color for price */
      font-weight: bold;
    }

    @media screen and (max-width: 992px) {
      .item {
        width: 45%;
      }
    }

    @media screen and (max-width: 600px) {
      .item {
        width: 90%;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <% @show_restaurant.each do |restaurant| %>
      <div class="item">
        <%= link_to items_restaurant_path(restaurant) do %>
          <% if restaurant.image.attached? %>
            <%= image_tag(restaurant.image, size: '140x80') %>
          <% else %>
            <p>No image available</p>
          <% end %>
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.address %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
